body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 22%, rgba(33,77,118,1) 63%);
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 22%, rgba(33,77,118,1) 63%);
    border-radius: 20px;
    box-shadow: 0 5px 9px rgb(0, 153, 255);
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border: 5px solid #00aaff;
    border-radius: 50px;
    background-color: #ffffff6f;
    box-shadow: 0 2px 4px rgb(0, 157, 255);
}

.card-info {
    flex: 1;
}

.card-info h3 {
    margin: 0;
    font-size: 1.5em;
    color: #00d5ff;
}

.card-info p {
    margin: 20px 0;
    color: #424242;
}

.card-details {
    margin: 20px 0;
    color: #333;
}

.button a {
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    background-color: #00bbff;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 0.7em;
    cursor: pointer;
}

.details-button:hover {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 22%, rgba(33,77,118,1) 63%);
}

.card-image {
    width: 270px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(203, 203, 203, 0.2);
}

